{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set lang         = services.sessionStorage.getLang() %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set companyName  = trans("Ceres::Template.headerCompanyName") %}
{% set useMegaMenu  = config("Ceres.header.megamenu_levels") > 1 %}

<nav class="navbar{% if useMegaMenu %} megamenu{%endif%}">
    <div class="container-max">
        <div class="row mx-0">
            <div class="col-sm-5">
                   <li class="list-inline-item control-search">
                        <a class="anicon anicon-search-xcross"
                           aria-label="toggle search"
                           data-toggle="collapse"
                           href="#searchBox"
                           aria-expanded="false"
                           aria-controls="searchBox"
                           data-parent="#controlsList">
                            <span class="anicon-search-item" aria-hidden="true"></span>
                        </a>
                    </li>
            
             </div>
            
            <div class="brand-wrapper col-sm-2" {% if showHeaderNavBar == "side" %}style="position: relative"{% endif %}>
                <a class="navbar-brand" href="{{ homepageURL }}">
                    {% if ('http' in companyLogo) or ('layout/' in companyLogo) %}
                        <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid" />
                    {% else %}
                        <img alt="{{ companyName }}" src="{{ plugin_path('Ceres') }}/{{ companyLogo }}" class="img-fluid" />
                    {% endif %}
                </a>

                <button id="btnMainMenuToggler" v-open-mobile-navigation class="navbar-toggler d-lg-none" type="button">
                    &#9776;
                </button>
            </div>
            <div class="col-sm-5">
            <ul id="controlsList" class="controls-list list-inline">
                    {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
                        <li class="list-inline-item control-wish-list">
                            <wish-list-count>
                                <a>
                                    <span class="badge-right">0</span>
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </wish-list-count>
                        </li>
                    {% endif %}
                    
                    <li class="list-inline-item control-user">
                        <user-login-handler>
                            <a data-toggle="modal">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hidden-xs-down">{{ trans("Ceres::Template.login") }}</span>
                            </a>
                            <span class="pipe"></span>
                            <a data-toggle="modal">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span class="hidden-xs-down">{{ trans("Ceres::Template.loginRegister") }}</span>
                            </a>
                        </user-login-handler>
                    </li>
                    
                    <li class="list-inline-item control-basket">
                        <a v-toggle-basket-preview href="#" class="toggle-basket-preview">
                            {% if config("Ceres.header.basket_values") != "sum" %}
                                <span class="badge-right" v-basket-item-quantity="$store.state.basket.data.itemQuantity">0</span>
                            {% endif %}

                            <i v-waiting-animation="$store.state.basket.isBasketLoading" waiting-class="fa fa-refresh fa-spin" class="fa fa-shopping-cart" aria-hidden="true"></i>
                            {% if config("Ceres.header.basket_values") != "quantity" %}
                                <span class="badge" v-if="!$store.state.basket.showNetPrices" v-basket-item-sum="$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                                <span class="badge" v-else v-cloak v-basket-item-sum="$store.state.basket.data.itemSumNet">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                            {% endif %}
                        </a>

                        {% if config("Ceres.basket.preview_type") != "right" %}
                            <basket-preview template="#vue-basket-preview-hover" :show-net-prices="{{ showNetPrices | json_encode }}"></basket-preview>
                        {% endif %}
                    </li>
                    </ul>
                 </div>
            
        </div>
          <div id="mainNavbarCollapsable" class="d-none d-lg-block">
                <ul class="breadcrumb">
                    <li class="btnClose"></li>
                </ul>
                {% if showHeaderNavBar == "top" or showHeaderNavBar == "both" or not services.template.isCategory() %}
                    {# includeCached('Ceres::PageDesign.Partials.Header.NavigationList.twig') #}
                    {% include "Ceres::PageDesign.Partials.Header.NavigationList" %}
                {% endif %}
            </div>
    </div>
</nav>

